
  .introducao{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;
  }
.introducao-text{
  position: absolute;
  font-size: 40px;
  top: 250px;
  left: 160px; 
  color: #F0F0F0;
  text-transform: uppercase;
}
.introducao-text2{
  position: absolute;
  font-size: 42px;
  top: 308px;
  left: 160px; 
  color: #F0F0F0;
  text-transform: uppercase;
}
.voltaica{
  position: absolute;
  font-size: 45px;
  top: 360px;
  left: 160px;
  color: #fff;
  text-transform: uppercase;
}

.introducao-mini{
  position: relative;
  font-size: 20px;
  top: 350px;
  left: 160px;
  color: #F0F0F0;
  
}
main a{
  position: relative;
  font-size: 20px;
  top: 380px;
  left: 160px;
}
.botao {
  background: #FCA919;
  color: #213367;
  padding:  0.59rem 2rem;
  border-radius: 50px;
  text-transform: uppercase;

}
.botao:hover {
  opacity: 0.9;
}
@media (max-width:1300px){
  
  .introducao-text{
    font-size: 40px;
    top: 170px;
    left: 95px;
  }
  .introducao-text2{
    font-size: 40px;
    top: 227px;
    left: 95px;
  }
  .voltaica{
    font-size: 45px;
    top: 280px;
    left: 95px;
  }
  .introducao-mini{
    font-size: 20px;
    top: 285px;
    left: 95px;
  }
  .botao{
    font-size: 18px;
    padding: 1rem 2rem;
    top: 330px;
    left: 95px;
  }
}
@media (max-width:999px) {
  .introducao-text{
    font-size: 30px;
    top: 120px;
    left: 50px;
  }
  .introducao-text2{
    font-size: 30px;
    top: 160px;
    left: 50px;
  }
  .voltaica{
    font-size: 35px;
    top: 203px;
    left: 50px;
  }
  .introducao-mini{
    font-size: 13px;
    top: 180px;
    left: 50px;
  }
  .botao{
    font-size: 14px;
    padding: 0.6rem 2rem;
    top: 202px;
    left: 50px;
  }
}
@media (max-width:790px){
  .introducao-text{
    font-size: 30px;
    top: 120px;
    left: 20px;
  }
  .introducao-text2{
    font-size: 30px;
    top: 155px;
    left: 20px;
  }
  .voltaica{
    font-size: 35px;
    top: 190px;
    left: 20px;
  }
  .introducao-mini{
    font-size: 10px;
    top: 166px;
    left: 20px;
  }
  .botao{
    font-size: 13px;
    padding: 0.5rem 1.5rem;
    top: 190px;
    left: 20px;
  }
}
@media (max-width:490px){
  .introducao-text{
    font-size: 25px;
    top: 90px;
    left: 20px;
  }
  .introducao-text2{
    font-size: 25px;
    top: 125px;
    left: 20px;
  }
  .voltaica{
    font-size: 26px;
    top: 160px;
    left: 20px;
  }
  .introducao-mini{
    font-size: 10px;
    top: 140px;
    left: 20px;
  }
  .botao{
    font-size: 10px;
    padding: 0.2rem 1rem;
    top: 145px;
    left: 20px;
  }
}
@media (max-width:390px){
  .introducao-text{
    font-size: 20px;
    top: 90px;
    left: 20px;
  }
  .introducao-text2{
    font-size: 20px;
    top: 115px;
    left: 20px;
  }
  .voltaica{
    font-size: 22px;
    top: 140px;
    left: 20px;
  }
  .introducao-mini{
    font-size: 10px;
    top: 120px;
    left: 20px;
  }
  .botao{
    font-size: 8px;
    padding: 0.23rem 1rem;
    top: 120px;
    left: 20px;
  }
}