@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&family=Sarala:wght@400;700&display=swap');
@import './header.css';
@import './global.css';
@import './introducao.css';
@import './informacao.css';

*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  font-family: 'Sarala', sans-serif;
}